extends layout

block content
 form.Form(action='/',method='post')
    label 
     h1 Login 
     section.wel 
      i Welcome 
      hr      
      div.inputfeild
        section 
            label Username 
            br
            input(type='text' placeholder='john')
        section.psec 
            label Password 
            br
            input(type='password')

            
     div.newAccbtn
        button.btn.btn-outline-info
         a(class='button' href='/register') No Account? Sign Up
         
     ul 
        b Forgot 
        br
        ul  
         a(class='button' href='/') Username
         br
         a(class='button' href='/') Password

    
    div.id 
        i
            a(class='button' href='/') Help 
            br        
            a(class='button' href='/') FAQ 


    div.loginBtn
        button.btn.btn-secondary.btn-lg Login


    
         



      




             
