extends layout 

block content
    // Import game_room.css
    head 
        title= title 
        link(rel='stylesheet', href='/stylesheets/game_room.css')

        .container-fluid.d-flex.flex-column.h-100
            .row.flex-fill.d-flex.flex-row
              .game-container.col
                .row.p-5

                  //- Error section
                  .col-sm-12.col-md-4.col-offset-3
                    .card.bg-dark.text-white 
                      .card-body
                        h4.card-title Oops, an error occurred...
                        hr
                        p.card-text.text-warning=message
