extends layout 
block content
    script(src="https://js.pusher.com/7.0/pusher.min.js")
    script(src="/javascripts/chat.js" defer)

    head 
        title= title 

    .maindiv
        .button-container
            .main-title GAMEROOMS 
            a(href="/game/create-game").create-game-btn.btn.bg-success Create Game 

        .line 
                
                    
        .main-container
            .gamerooms-container.bg-dark
                .gamerooms
                    .outerbox.bg-dark
                        each game in games 

                            a(href="/game/" + game.id + "/join").box 
                                .game-id Game #{game.id}
                                .num-players Players: #/4
                                .open Open
                                .close.text-danger Closed
                                .rejoin.text-warning Rejoin

 
                 
                    
            .chatroom.bg-dark
                .chatroom-title-container
                    .chatroom-title Global Chat
                    input(type="hidden", id="chatId", name="chatId" value="lobby")
                .chatbox
                    //- Messages will be appended here.
                .messagebox
                    .input-group
                        input(id="userInput" type="text").form-control
                        button.btn.bg-success(id="chatbox-btn" type="submit") Send
                    
