extends layout 
block content

    div.maindiv
        h1  
            i GAMEROOMS 

        div.line 
        div.disp
                    button.playnow Create Room 
                    buttom.joinnow Join   Room
                    
        div.disp
            div.gamerooms
                div.outerbox
                 div
                  div.box 
                  div
                   div.box 
                  div 
                   div.box

                div 
                    div.box 
                div 
                    
           
            div.chatroom
                div 
                    div.chatouterbox
                        div.chatbox
                    
