extends layout 
block content
    script(src="/javascripts/_pusher.js" defer)
    script(src="/javascripts/chat.js" defer)
    script(src="/javascripts/dashboard.js" defer)

    head 
        title= title 

    
    input(type="hidden", id="roomId", name="roomId" value="lobby")

    .maindiv
        .button-container
            .main-title Dashboard 
            .create-game-btn.btn.bg-success(id="new-game-btn") Create Game 

        .line.mb-3
        
        .row 
            //- Active Games Section
            .col-sm-12.col-md-9
                .row.row-cols-1.row-cols-md-4.g-2(id="active-games")

            //- Dashboard Chat Section
            .col-sm-12.col-md-3
                .card.bg-dark.text-white 
                    .card-body
                        .chatroom-title-container
                            .chatroom-title Global Chat
                        .chatbox
                            //- Messages will be appended here.
                        .messagebox
                          form
                            .input-group
                                input(id="userInput" type="text").form-control
                                button.btn.bg-success(id="chatbox-btn" type="submit")
                                    i.fa.fa-paper-plane