extends layout 

block content
    // Import game_room.css
    head 
        title= title 
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/game_room.css')
        script(src="/javascripts/chat.js" defer)
        script(src="/javascripts/game_room.js" defer)

        //- This input value is used by various scripts.
        input(type="hidden", id="roomId", name="roomId" value=gameId)
        input(type="hidden", id="userId", name="userId" value=user.id)

        .container-fluid.d-flex.flex-column.h-100
            .row.flex-fill.d-flex.flex-row
                .game-container.col
                    .game.container-fluid.h-100.d-flex.flex-column
                        .top.row
                            .container-fluid.w-100.h-100
                                .row.w-100.h-100
                                    .col.top-player-container
                                        #top-player.user-hand.reverse-hand
                                            each i in Array(7)
                                                .my-card
                                                    img(src="../images/unocards.png").face-down
                                        .username-container    
                                            #top-player-username.username.bg-dark Username
                        .middle.row
                            .col-sm.center-player
                                .username-container 
                                    #left-player-username.username.bg-dark Username
                                #left-player.user-hand.side-player
                                    each i in Array(7)
                                        .my-card
                                            img(src="../images/unocards.png").face-down
                                    
                            .center.col-sm
                                #game-center.container.h-100
                                    .row.justify-content-center.align-items-center.w-100.h-100
                                        .my-card
                                            img(src="../images/unocards.png").face-up
                                        #draw-card.my-card
                                            img(src="../images/unocards.png").face-down
                            .col-sm.center-player.reverse
                                #right-player.user-hand.side-player.reverse-hand
                                    each i in Array(7)
                                        .my-card
                                            img(src="../images/unocards.png").face-down
                                .username-container 
                                    #right-player-username.username.bg-dark Username
                        .bottom.row
                            .container-fluid.w-100.h-100
                                .row.w-100.h-100
                                    .col.user-player-container
                                        .username-container
                                            #username.username.bg-dark=user.username
                                        #user-player.user-hand
                                            each i in Array(7)
                                                .my-card
                                                    img(src="../images/unocards.png").face-up
                                                    input(type="hidden")

                .chat-sidebar.col-sm-3.flex-column.bg-dark
                    .chat-title-box.container.bg-dark.pt-2.pb-2
                        .row
                            .chat-close-container.col-sm-1.text-center.mt-2
                                button#chat-close-btn.btn.btn-close.btn-close-white
                            .chat-title.col.h4.mt-1 Chat
                            
                            .chatbox
                                //- Messages will be appended here.
                            .chat-message-box.container.bg-dark.mb-2
                                .input-group
                                    input(id="userInput" type="text").form-control
                                    button.btn.bg-success(id="chatbox-btn" type="submit") Send
                    //- .container.bg-dark.flex-fill
                    //- .chat-message-box.container.bg-dark.mb-2
                    //-     .input-group.mg-5
                    //-         input(type="text").form-control
                    //-         button.btn.bg-success Send
                #chat-sidebar-closed.col.bg-dark.hidden
                    button#chat-open-btn.btn.btn-default.open-chat
                        i.fa.fa-chevron-left
