extends layout 

block content
    // Import game_room.css
    head 
        title= title 
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/game_room.css')
        script(src="/javascripts/game_room.js" defer) 

        .container-fluid.d-flex.flex-column.h-100
            .row.flex-fill.d-flex.flex-row
                .game-container.col
                    .game.container-fluid.h-100.d-flex.flex-column
                        .top.row
                            .container-fluid.w-100.h-100
                                .row.w-100.h-100
                                    .col
                                    .col-sm-6 
                                        #top-player.user-hand
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                    .col
                        .middle.row
                            .col-sm
                                #left-player.user-hand.side-player
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                                    .my-card
                                        img(src="images/unocards.png").face-down
                            .center.col-sm
                                #game-center.container.h-100
                                    .row.justify-content-center.align-items-center.w-100.h-100
                                        .my-card
                                            .face-up
                                        .my-card
                                            img(src="images/unocards.png").face-down
                            .col-sm 
                        .bottom.row
                            .container-fluid.w-100.h-100
                                .row.w-100.h-100
                                    .col
                                    .col-sm-6 
                                        #user-player.user-hand
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down
                                            .my-card
                                                img(src="images/unocards.png").face-down

                                    .col 
                .chat-sidebar.col-sm-3.flex-column.bg-dark
                    .chat-title-box.container.bg-dark.pt-2.pb-2
                        .row
                            .chat-close-container.col-sm-1.text-center.mt-2
                                button#chat-close-btn.btn.btn-close.btn-close-white
                            .chat-title.col.h2.mt-1 Chat
                            
                    .container.bg-dark.flex-fill
                    .chat-message-box.container.bg-dark.mb-2
                        .input-group.mg-5
                            input(type="text").form-control
                            button.btn.bg-success Send
                #chat-sidebar-closed.col.bg-dark.hidden
                    button#chat-open-btn.btn.btn-default.open-chat
                        i.fa.fa-chevron-left
