doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous")
  body
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      div.container-fluid
        a.navbar-brand(href="/" type="button") Youno
        if user
          ul.navbar-nav.mr-auto
            li.nav-item.dropdown 
              a.nav-link.dropdown-toggle(href="#", type="button", id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false")=user.username
              ul.dropdown-menu(aria-labelledby="userDropdown")
                li.nav-item
                  a.dropdown-item(href="/api/auth/logout" type="button") Logout
        else
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href="/login", type="button") Login
            li.nav-item
              a.nav-link(href="/register", type="button") Register

    block content
