extends layout 

block content
    // Import game_room.css
    head 
        title= title 
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/game_room.css')
        script(src="/javascripts/_pusher.js" defer)
        script(src="/javascripts/chat.js" defer)
        script(src="/javascripts/lobby.js" defer)

        //- This input value is used by various scripts.
        input(type="hidden", id="roomId", name="roomId" value=gameId)
        input(type="hidden", id="userId", name="userId" value=user.id)

        .container-fluid.d-flex.flex-column.h-100
            .row.flex-fill.d-flex.flex-row
              .game-container.col
                .row.p-5

                  //- Lobby Status Section
                  .col-sm-12.col-md-9 
                    .card.bg-dark.text-white 
                      .card-body
                        h4.card-title Game Lobby 
                          small.text-muted #{gameId}
                        hr

                        .spinner-border(id="loading")

                        .row(id="connected-players" hidden)
                          .col
                            small.text-muted Player 1
                            h5.text-info(id="player-1-name") waiting...
                          .col
                            small.text-muted Player 2
                            h5.text-info(id="player-2-name") waiting...
                          .col
                            small.text-muted Player 3
                            h5.text-info(id="player-3-name") waiting...
                          .col
                            small.text-muted Player 4
                            h5.text-info(id="player-4-name") waiting...
                        
                  //- Game Chat Section
                  .col-sm-12.col-md-3
                    .card.bg-dark.text-white 
                      .card-body
                        .chatroom-title-container
                            h4.card-title Game Chat
                        .chatbox
                            //- Messages will be appended here.
                        .messagebox
                            .input-group
                                input(id="userInput" type="text").form-control
                                button.btn.bg-success(id="chatbox-btn" type="submit") Send