body {
    height: 92.25vh;
}

/* ================================================================================ */
/* Game Layout */
/* ================================================================================ */

.game-container {
    flex-grow: 1;
    padding: 0px;
}
.game {
    margin: 0px;
    padding: 0px;
    background-color: lightgrey;
}


.top {
    flex-grow: 0.5;
    background-color: red;
}

.middle {
    flex-grow: 1;
}

.middle .col-sm {
    padding: 0px;
    max-height: 100%;
}

.row .col-sm-6 {
    padding: 0px;
}

.center {
    background-color: chartreuse;
}

.bottom {
    flex-basis: 150px;
    flex-grow: 0.5;
    background-color: violet;
    margin: 0px;
}

.bottom .container-fluid {
    padding: 0px;
}

.bottom .container-fluid .row .col {
    margin: 0px;
    padding: 0px;
}

/* ================================================================================ */
/* Game Elements */
/* ================================================================================ */

.my-card {
    box-sizing: border-box;
    display: block;

    height: 100px;
    width: 64px;


    margin: 8px;
    padding: 0px;
    border-radius: 10px;

    background-color: inherit;

    transition: transform .2s;

    cursor: pointer;
}

.my-card:hover {
    transform: scale(1.6);
}

.middle .center {
    padding: 0px;
}

#game-center {
    padding: 0px;
}

#game-center .row {
    margin: 0px;
    height: 100%;
    width: 100%;
}

.face-up {
    border-radius: 6px;
    background-color: white;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.face-down {
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;

}

.deck {
    cursor: pointer;

    padding: 0px;

    z-index: 1000;
}

#draw {
    margin: 0px;
    top: 0px;
    left: 0px;
}



.user-hand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1px;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.user-hand .my-card {
    margin: 2px;
    max-height: 60px;
    max-width: 32px;
}


.user-hand .my-card:hover {
    
    transform: scale(2.75);
}

.user-hand .face-down {
    height: 100%;

    object-fit: contain;
}


#top-player {
    flex-wrap: wrap-reverse;
}

.side-player {
    padding: 0px 20px;
}

.side-player .my-card {
    transform: rotate(90deg);
}

#left-player .my-card .face-down {
    /* max-height: 400px; */
}
/* ================================================================================ */
/* Chat-sidebar*/
/* ================================================================================ */

.chat-sidebar {
    display: flex;
    /* flex-direction: column;
    
    height: 100%;
    min-width: 200px;
    max-width: 350px; */
    /* flex-grow: 0.25; */

    padding: 0px;

    border-top: 0.5px solid grey;
}

#chat-sidebar-closed {
    max-width: 50px;
    padding: 0px;

    border-top: 0.5px solid grey;
}

.chat-title-box {
    border-bottom: 1px solid grey;
    padding: 8px 16px;
}

.chat-close-container {
    margin-right: 8px;
    padding: 0px;
}

.chat-title {
    display: block;
    color: #fff;
}

.chat-message-box {
    padding: 8px;
    padding-top: 16px;
    border-top: 1px solid grey;
}

.open-chat {
    padding-left: 16px;
    font-size: 24px;
    color: white;
}

.open-chat:hover {
    color: white;
}

.hidden {
    display: none;
}