* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}
/* body {
  background-image: url("https://images.pexels.com/photos/1405773/pexels-photo-1405773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: stretch;
  position: flex;
} */
.Form {
  border-color: black;
  border-style: ridge;
  width: 400px;
  height: 540px;
  background-color: rgb(247, 243, 243);
  color: black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  opacity: 0.9;
}
.forgot {
  margin-left: 10px;
}

h1,
i {
  color: black;
  margin-left: 1px;
}
.id {
  margin-left: 80%;
}

label {
  padding-left: 20px;
  padding-top: 10px;
}
input {
  background-color: white;
  padding-left: 20px;
  margin-left: 20px;
  height: 35px;
  width: 100%;
}

.inputfeild {
  height: 130px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
  width: 95%;
}

.newAccbtn {
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
  margin-left: 60px;
  border-color: black;
}
a:link,
a:visited {
  color: black;
  text-decoration: none;
}

.help {
  width: 80%;
  padding-left: 10px;
  margin-left: 30px;
}
.loginBtn {
  margin-left: 156px;
}

.navbar-brand {
  cursor: pointer;
}